.supertable td {
	text-align: right;
	-webkit-transition: height 0.3s ease;
	-o-transition: height 0.3s ease;
	-moz-transition: height 0.3s ease;

	transition: height 0.3s ease;
}

.wt_calcrow {

}

.wt_error {
	color: maroon;
	font-size: 8px;
}

.wt_sketch_container {
	border: 1px solid #aaa;
	position: fixed;
	top: 10px;
	right: 10px;
}

.wt_sketch_head {
	height: 15px;
	background-color: aliceblue;
	width: 100%;
	cursor: pointer;
}

.wt_sketch_content {
	background-color: #efefef;
	width: 250px;
	height: 250px;
}

.wt_sketch_content circle {
	background-color: blue;
	border: 1px solid black;
}